.scrollContainer {
    display: flex;
    max-width: 35rem;
    overflow-x: hidden; 
    gap: 10rem;
    align-items: center;
}

.scrollContainer::-webkit-scrollbar {
    height: 8px;
}
.scrollableContent {
    min-width: 100%;
    /* flex-shrink: 0; Prevent shrinking */
    text-align: center;
}
button:disabled { opacity:.5; cursor:not-allowed; }

#prevBtn {
    background-color: white;
    border: 1px solid #ccc;
}
#prevBtn:hover {
    background-color: dimgray;
}

#nextBtn {
    background-color: white;
    border: 1px solid #ccc;
}
#nextBtn:hover {
    background-color: dimgray;
}